$loader: url('../../animation/spinner.svg');
$loginBackground: url('../../../img/background.jpg');

$white: #ffffff;
$black: #000000;
$gray-300: #dee2e6;
$gray-500: #adb5bd;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
